<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Мое резюме</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<p>
<center><h2>Резюме</h2></center>
<hr>
    <b>Кябишев Мурат Муссович</b>
<br>
    Адрес: КЧР, Хабезский район, а. Али-Бердуковский, ул. М. Нахушева, д.12
<br>
    Телефон: +7 (928) 025-92-10
e-mail: kyabishev72@gmail.com
<p>
    <p>
    <b>Профессиональные навыки:</b> Python, разработка веб-приложений с использованием фреймворка Django, HTML, CSS, шаблонизатора Jinja.
    Имею представление о различных реляционных базах данных и языке запросов. Опыт разворачивания веб-проекта на Django с локального компьютера на выделенные сервера хостинговой площадки с установкой необходимых пакетов и модулей в виртуальном окружении. Знание ОС Windows, Linux, навыки работы с периферийным оборудованием, оргтехникой. Знание технического английского языка.
<p>
        <b>Опыт работы:</b>
1994 - 2001 гг. – ведущий специалист- администратор баз данных в Налоговой инспекции,
2001- 2004 - администратор компьютерной сети в ООО фирма «Меркурий»,
2004-2005 – инженер программист в САО РАН (п. Нижний Архыз),
Последние два года занимался разработкой html-игр, которые опубликованы в каталогах яндекс-игр, вконтакте и на нескольких зарубежных площадках.
В настоящий момент нахожусь в поиске удаленной работы для python-разработчика.
Функциональные обязанности:
•	Администрирование сети, серверов, виртуализация, резервное копирование.
•	Обслуживание, ремонт и модернизация компьютерной техники.
•	Обслуживание оргтехники.
•	Монтаж ЛВС.
•	Windows XP, Windows 7, Windows 10, Kerio mail server, MySQL, PHP, VMWare, Hyper-V, MSSQL, AD, Terminal Server.
•	Поддержка пользователей.
•	Поддержка работы OS Linux
Образование: 1989-1994 гг., Кубанский Государственный  университет, физический факультет, диплом специалиста. Профессиональный сертификат CCNA: Построение сетей на основе оборудования Cisco, полученный в Центре компьютерного обучения при МГТУ им. Н.Э. Баумана. Проходил курсы по защите компьютерной информации в учебном центре в г. Обнинске. Выдан соответствующий  документ.

Личные качества: внимательность, ответственность, техническое мышление, уравновешенность, сосредоточенность, высокая степень самоорганизации, дисциплинированность, ориентированность на достижение результата.

<p>
<!--{{work}} : +7(928) 999-99-99-->
</body>
</html>