<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<!--     <style>h1{color: green;}</style>-->
<meta charset="UТF-8">
   <title>Пepeдaчa сложных данных</title>
    <link href="{% static 'css/styles.css' %}" rel = "stylesheet">
</head>
<body>
<h1>{{header}}</h1>
<hr>
<p>Имя: <b>{{user.name}}</b> Возраст: <b>{{user.age}}</b></р>
<p>Адрес: ул. {{address.0}}, д. {{address.1}}, кв. {{address.2}}</р>
<p>Владеет языками: {{langs.0}}, {{langs.1}}, {{langs.2}}</р>
<!--<p align="left"> Фото:-->
<br><img src = "{% static 'images/2.png' %}" align="center">
</body>
</html>