<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Поисковый сервис</title>
<!--        <link href="{% static 'css/styles2.css' %}" rel = "stylesheet">-->
</head>
<body>
    <form method="POST">
         {% csrf_token %}
        <center><h1>Adawada</h1>
        <input type="text" name="string-of-search" placeholder="Псалъэ гуэр итхэ...">

        <input type="submit" value="Лъыхъуэ">
        </center>
    </form>
<!--from googlesearch import search-->
<!--query = 'Джэдык-->
<!--for i in search(query, tld = 'co.in', num = 10, stop = 10, pause = 2):-->
<!--    print (i)-->
</body>
</html>