<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Поисковый сервис</title>
<!--        <link href="{% static 'css/styles2.css' %}" rel = "stylesheet">-->
</head>
<body>
<h3>Моя крутая поисковая машина</h3>
<hr>
    <form method="POST">
         {% csrf_token %}
        <center><h1>Adawada</h1>
        <input type="text" name="string-of-search" placeholder="Введите строку для поиска">

        <input type="submit" value="Найти">
        </center>
    </form>
<p> {{ output_text2 }} <b>{{ output_text }}</b></p>
</body>
</html>