<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Синтезатор</title>
<!--        <link href="{% static 'css/styles2.css' %}" rel = "stylesheet">-->
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<h3>Озвучивание текста на черкесском языке</h3>
<hr>
    <form method="POST">
         {% csrf_token %}
        <h1>Adawada</h1>
        <input type="text" name="string-of-search" size="64" placeholder="Наберите или скопируйте текст на черкесском языке и нажмите на кнопку 'Читать'">

        <input type="submit" value="Читать">
      
    </form>
<hr>
<center>
<p> {{ output_text2 }}
    <p><b>{{ output_text }}</b></p>
</center>
</body>
</html>