{% extends "firstapp/base.html" %}
{% block title %}about{% endblock title %}
{% block header %}О сервисе{% endblock header %}
{% block content %}
<h4>Учебный проект Мурата Кябишева</h4>
<hr>

<h3>Не знаю что это будем в дальнейшем. Пока ниже разничные примеры формата вывода текущей даты и времени</h3>
<p>Связка шаблонов about.html и base.html с использованием шаблонизатора Jinja2</p>
<p>Год в виде четырех цифр - {% now 'Y' %}</p>
<p>Год в виде последних двух цифр - {% now 'y' %}</p>
<p>Полное название месяца - {% now "F" %}</p>
<p>Сокращенное название месяца - {% now "M" %}</p>
<p>Номер месяца, две цифры - {% now "m" %}</p>
<p>Аббревиатура месяца (Ассошиейтед Пресс) - {% now "N" %}</p>
<p>Номер месяца, одна цифра - {% now "n" %}</p>
<p>День месяца - {% now "j" %}</p>
<p> День недели - текст - {% now "1" %}</p>
<p>Часы (0-12) - {% now "h" %}</p>
<p>Часы (0-24) - {% now "H" %}</p>
<p>Минуты (0-59) - {% now "i" %}</p>
<p>Секунды (0-59) - {% now "s" %}</p>
<p>Дата (день/месяц/год) - {% now "j/m/Y" %}</p>
Шаблоны
<p>Время (час:мин:сек) - {% now "H:i:s" %}</p>

{% endblock content %}